<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        String context = ViewContext.RouteData.Values["Action"].ToString();
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Benjamin Burgess", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(context == "Index" ? "active" : "")">@Html.ActionLink("Bio", "Index", "Home")</li>
                    <li class="@(context == "Skills" ? "active" : "")">@Html.ActionLink("Skills", "Skills", "Home")</li>
                    <li class="@(context == "Projects" ? "active" : "")">@Html.ActionLink("Projects", "Projects", "Home")</li>
                    <li class="@(context == "Education" ? "active" : "")">@Html.ActionLink("Education", "Education", "Home")</li>
                    <li class="@(context == "Feedback" ? "active" : "")">@Html.ActionLink("Feedback", "Feedback", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Benjamin Burgess' ASP.NET Application</p>
            <div id="MCSASQL" class="logo"></div>
            <div id="MCSEDMA" class="logo"></div>
            <p>Microsoft is a registered trademark of Microsoft Corporation in the United States and other countries.</p>
            <div class="mediaCheck"></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
